@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@font-face {
  font-family: "PPEditorial";
  src: url("./assets/fonts/PPEditorialNew-Ultralight.otf") format("opentype");
  font-weight: 200; /* Ultralight */
}

@font-face {
  font-family: "PPEditorial";
  src: url("./assets/fonts/PPEditorialNew-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "PPEditorial";
  src: url("./assets/fonts/PPEditorialNew-Ultrabold.otf") format("opentype");
  font-weight: 800;
}

h1,
h2 {
  font-family: "PPEditorial", serif;
  font-weight: 400;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: white;
}
main {
  background-color: white;
}
a {
  text-decoration: none !important;
  color: inherit;
}

:root {
  --color-turquoise: #8aa1b1;
  --color-orange: #c27e5d;
  --color-green: #4d6d53;
  --color-beige: #d9c8b5;
  --color-brown: #937356;
  --color-bg-gray: #e2e5e6;
  --color-dark-wood: #5e4b3c;
  --color-cream: #f2efe9;
  --color-vintage-paper: #b89d7e;
  --color-dusty-blue: #6a7e8b;
  --color-light-clay: #d9a084;
  --color-turquoise-ultra-light: #f1f5f7;
  --color-dusty-blue-ultra-light: #eff2f4;
  --color-dark-cream: #e8e4dc;
  --color-dark-cream2: #e0dbd2;
}
.red-error-link:hover {
  color: rgb(147, 54, 54) !important;
}
